<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chowder</title>
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <h1>Welcome to Chowder</h1>
    <h3>One stop solution for Customers, Food Vendors and Delivery riders</h3>
    <div>
      <a href="/login" class="mr-2">LOGIN</a>
      <a href="/signup">SIGNUP</a>
    </div>
</body>

</html>